<!-- details.html -->
{% extends 'base.html' %}

{% block content %}

    {% if user_has_voted %}
        <p>You have already voted for this question.</p>
    {% else %}
        <form action="{% url 'polls:vote' question.id %}" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>
                    <h1>{{ question.question_text }}</h1>
                </legend>

                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for='choice{{forloop.counter}}'>{{choice.choices}}</label>
                    <br>
                {% endfor %}
                
                <br>
                <input type="submit" value="Vote!">
            </fieldset>
        </form>
    {% endif %}

    <a href="{% url 'polls:results' question.id %}">View Results</a>
{% endblock %}
