
{% extends 'base.html' %}

{% block content %}

    {% if user_has_voted %}
    <br>
    <div class='container'>
        <div class="alert alert-primary container" role="alert" align='center'>
            <p>You have already voted for this question</p>
            <a href="{% url 'polls:results' question.id %}" class="btn btn-success">View Results</a>
        </div>
    </div>
    {% else %}
    <br>
    <br>
    <div class='container'>
        <form action="{% url 'polls:vote' question.id %}" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-body" >
                    <h2 class="card-title"><b>{{ question.question_text }}</b></h2><br>
                    {% for choice in question.choice_set.all %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                            <label for='choice{{forloop.counter}}'>{{choice.choices}}</label>
                        </div>
                    {% endfor %}   
                    <br>
                    <div align='left'>
                    <button type="submit" class="btn btn-primary">Vote!</button>
                    <a href="{% url 'polls:results' question.id %}" class="btn btn-secondary">View Results</a>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
</div>
    
{% endblock %}
