{% extends "base.html" %}

{% block  content %}

{% if user.is_authenticated %}

{% if latest_question_list %}
<br>
<div class='container'>
    <br>
    <h2><b>Select Your Question to Vote: </b></h2>
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-left card-body">
    <div class="list-group">

    {% for question in latest_question_list %}

    <a href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="https://img1.pnghut.com/3/4/22/X60ecZvuSX/logo-text-trademark-ball-communication.jpg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">{{question.question_text}}</h6>
          </div>
          <small class="opacity-50 text-nowrap">{{question.pub_text}}</small>
        </div>
      </a>


    {% endfor %}

          
    
        </div>
      </div>
    </div>
{% else %}
<br>
<div class='container'>
    <div class="alert alert-primary container" role="alert" align='center'>
        <p>There are no questions as of now!</p>
        <a href="{% url 'home' %}" class="btn btn-success">Go Home!</a>
    </div>
</div>
{% endif %}

{% else %}
<br>
<div class="p-5 mb-4 bg-body-tertiary rounded-3 container">
  <div class='container'>
    <div class='container'>
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Login to proceed further</h1>
    <p class="col-md-8 fs-4">To cast your vote, please login!</p>
    <a class="btn btn-primary btn-lg" type="button" href='{% url "login" %}'>Login Now!</a>
  </div>
</div>
</div>
</div>
{% endif %}


{% endblock  %}